body {
    Display: Flex;
    justify-content: center;
    margin: 20px;
    background-color: #ffe785;
    }
    .periodic-table {
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fbfbfb;
    text-align: center;
    }
    .periodic-table td {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    user-select:none;
    }
    .periodic-table td:hover {
    filter: brightness (0.9);
    width: 60px;
    Position: Fixed;
    }
    .periodic-table td div {
    text-align: center;
    font-size: 12px;
    color: #000;
    height: 45px;
    }
    .periodic-table td strong {
    font-size: 23px;
    cursor: pointer;
    }